<app-header></app-header>

<div *ngIf='requestParams'>
  <app-above-sticky-top (fetch)="onFetch($event)" [sendRequestParams]="requestParams"></app-above-sticky-top>
</div>

<div class="card text-center">
  <!--<div class="card-header"></div>-->
  <div class="card-body table-responsive">
    <table class="table table-sm table-bordered">
      <thead class="table-primary">
        <tr>
          <ng-container *ngFor="let tableHeaderData of tableHeadersData; let i = index;">
              <th scope="col" class="sortable-column" [id]="i" (click)="sorting($event)">{{ tableHeaderData.headerName }}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody class="table-active">
        <tr *ngFor="let satellite of satellites$ | async">
          <th scope="row">{{ satellite.satid }}</th>
          <td>{{ satellite.satname }}</td>
          <td>{{ satellite.launchDate }}</td>
          <td>{{ satellite.satlat | number: '1.0-2' }}</td>
          <td>{{ satellite.satlng | number: '1.0-2' }}</td>
          <td>{{ satellite.satalt | number: '1.0-0' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--<div class="card-footer"></div>-->
</div>

<app-footer></app-footer>